.books {
  display: flex;

  .booksContainer {
    flex: 5;

    button {
      margin: 20px;
      width: 150px;
      padding: 10px 20px;
      border-radius: 10px;
      color: white;
      border-style: none;
      background-color: rgba(44, 95, 235, 0.689);
      float: right;
    }

    .bookInfo {
      margin-top: 20px;
      text-align: center;
      width: 100%;

      img {
        width: 80%;
        height: 15rem;
        object-fit: cover;
      }
      ul {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
      }
      li {
        list-style: none;

        .delete {
          float: none;
          background-color: rgb(232, 173, 173);
          cursor: pointer;
        }
      }
    }
  }
}
