.dvds {
  display: flex;

  .dvdsContainer {
    flex: 5;

    button {
      margin: 20px;
      width: 150px;
      padding: 10px 20px;
      border-radius: 10px;
      color: white;
      border-style: none;
      background-color: rgba(44, 95, 235, 0.689);
      float: right;
    }

    .dvdInfo {
      margin-top: 20px;
      text-align: center;
      width: 100%;

      img {
        width: 80%;
        height: 15rem;
        object-fit: cover;
      }
      ul {
        padding: 5px;
      }
      li {
        list-style: none;
      }
      .dvd {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
